img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
.backgroundTitle h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    margin: 10px;
    background-color: rgba(255,255,255, 0.5) !important;
    margin: 3% 25%;
    padding: 10px;
    border-radius: 6px;
    line-height: 1.3;
}
.backgroundOptions{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 10px;
    background-color: rgba(255,255,255, 0.5) !important;
    margin: 2% 40%;
    padding: 10px 30px;
    line-height: 1;
    border-radius: 6px;

}
.checkbox label{
    font-weight: bold;
}
a {
    color: #00B7FF;
}
div.jumbotron h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    margin: 10px;
}
div.jumbotron{
    background-color: rgba(255,255,255, 0.5) !important;
    margin: 2% 20%;
    padding: 30px;
}
.form-control{
    width: 300px;
    margin: 0 10px;
    border-color: black;
}
.form-control:focus{
    border-color: black;
    box-shadow: none;
}
.label{
    background-color: #abc984;
}
.btn.btn-primary{
    background-color: #6790b5;
    border-color: black;
}
.btn.btn-primary:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.btn.btn-primary:focus{
    border-color: black;
    box-shadow: none;
    outline: none;
}
#todo-list{ 
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255,255,255, 0.5) !important;
    border-radius: 6px;
    margin: 10px;    
}
.checkboxHome label{
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}
#inner-todo{
    margin-left: 10px;
    font-weight: bold;
}
p {
    font-style: italic;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 20px;
}
.toOtherPage{
    margin-top: 30px;
    margin-left: 30px;
    top: 0;
    left: 0;
    position: fixed;
    /*background-color: none;*/
}
